---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Daily Database Roasts</title>
  <subtitle>AI-powered satirical roasts of database blog posts</subtitle>
  <link href="https://db-grill.com/feed.xml" rel="self"/>
  <link href="https://db-grill.com/"/>
  <updated>{{ roasts[0].pubDate | date("%Y-%m-%dT%H:%M:%SZ") }}</updated>
  <id>https://db-grill.com/</id>
  <author>
    <name>Daily Database Roasts</name>
  </author>
  {% for roast in roasts | reverse | slice(0, 20) %}
  <entry>
    <title>{{ roast.title | escape }}</title>
    <link href="https://db-grill.com/roast/{{ roast.slug }}/"/>
    <updated>{{ roast.pubDate | date("%Y-%m-%dT%H:%M:%SZ") }}</updated>
    <id>https://db-grill.com/roast/{{ roast.slug }}/</id>
    <content type="html">
      <![CDATA[
        <p><em>Originally from {{ roast.originalFeed | replace("https://www.", "") | replace("https://", "") | replace("/blog/rss", "") | replace("/rss.xml", "") | replace("rss", "") }}</em></p>
        {% if roast.personaName %}<p><strong>Roasted by {{ roast.personaName }}</strong> ({{ roast.personaRole }})</p>{% endif %}
        {{ roast.roast | markdown }}
        <hr>
        <p><a href="{{ roast.link }}">Read Original Article</a></p>
      ]]>
    </content>
    {% if roast.personaName %}<author>
      <name>{{ roast.personaName }}</name>
    </author>{% endif %}
  </entry>
  {% endfor %}
</feed>